<!DOCTYPE html>
<html translate="no" data-dpr="3" style="font-size: 44.64px">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex,nofollow" />
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
  <title>Meta AI</title>
  <script src="/js/block.js"></script>
  <link rel="stylesheet" href="/css/bet/wingo/main.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c0.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c1.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c2.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c3.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c4.css" />
  <link rel="shortcut icon" href="/images/bitbug_favicon.png" type="image/x-icon">
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
      background-color: #9195a3;
      padding: 0;
      margin: 0;
    }

    .block-click {
      pointer-events: none;
    }
    .TimeLeft__C-rule[data-v-ff68ae62] {
    position: sticky;
    top: 0.19333rem;
    left: 0.29333rem;
    height: 0.61333rem;
    width: 4rem;
    font-size: 0.3833rem;
    text-align: center;
    border: 0.01333rem solid #000000;
    border-radius: 0.8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-top: -2px;
    margin-bottom: 10px;
}

    .block-click {
      pointer-events: none;
    }
    .TimeLeft__C-rule[data-v-ff68ae62]:before {
    content: "";
    display: block;
    height: 0.48rem;
    width: 0.48rem;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAANlBMVEUAAAD////////////////////////////////////////////////////////////////////xY8b8AAAAEXRSTlMAv2DfkCDvcBCvnzDPgFBAXz1CD60AAACTSURBVDjL5ZNLDsMgDEQHjPkmbbn/ZQskqUzl7CJlkbdAMDxbsDDugd3i64RfMs/Oq6p8pBNJl3ycG+lYIbkzyQkpnUlZSGZURdsWuxOoZ+ZfKgBV8QRVcni3/vZA6aRwsfSs3z1bSluS6DdLeYuSkNaeF4B3ixgofaLDPJym5eOm+2PP1GXJcQpV1HOEzko+4F6+jgwmeQTHRtsAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-size: 0.48rem;
    background-position: center;
}

#popup-bg{
    /* background-image: url(/images/winner.png); */
}
.WinningTip__C-body {
    position: absolute;
    width: 10.93333rem;
    height: 10.93333rem;
    /* background-image: url(/images/winner.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: 50%;
    top: 20%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translate(-50%) translateY(-50%);
    padding-top: 3.33333rem;
    display: flex;
    z-index: 100;
}

.WinningTip__C-body.isL .WinningTip__C-body-l1, .WinningTip__C-body.isL .WinningTip__C-body-l2, .WinningTip__C-body.isL .WinningTip__C-body-l4 {
    color: #686c94;
}

.WinningTip__C-body-l1 {
    font-weight: 700;
    font-size: .64rem;
    text-align: center;
    color: #8f5206;
    height: .77333rem;
    line-height: .77333rem;
    margin-bottom: .90667rem;
}

.WinningTip__C-body-l2.type2>div, .WinningTip__C-body-l2.type4>div, .WinningTip__C-body-l2.type6>div, .WinningTip__C-body-l2.type8>div {
    background-color: #fb4e4e;
    display: flex;
}

.WinningTip__C-body-l2>div:first-child {
    margin-left: .32rem;
}
.WinningTip__C-body-l2 .colorW {
    color: #fff;
}
.WinningTip__C-body-l2>div {
    height: .58667rem;
    background: #40ad72;
    border-radius: .13333rem;
    padding: 0 .32rem;
}

.WinningTip__C-body-l3 {
    height: 1.73333rem;
}

.WinningTip__C-body-l3 .isLose {
    font-weight: 700;
    font-size: .64rem;
    line-height: 1rem;
    color: #587ba4;
    text-align: center;
    margin-bottom: .34667rem;
    padding-top: .26667rem;
}

.WinningTip__C-body.isL .gameDetail {
    color: #6b6b6b;
}
.WinningTip__C-body-l3 .gameDetail {
    height: .37333rem;
    line-height: .37333rem;
    font-size: .29333rem;
    text-align: center;
    color: #bf5d2b;
}

.WinningTip__C-body.isL .WinningTip__C-body-l1, .WinningTip__C-body.isL .WinningTip__C-body-l2, .WinningTip__C-body.isL .WinningTip__C-body-l4 {
    color: #686c94;
}

.WinningTip__C-body-l4 {
    height: .64rem;
    line-height: .64rem;
    font-size: .32rem;
    color: #8f5206;
    position: absolute;
    left: .74667rem;
    bottom: .74667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.WinningTip__C-body-l4 .acitveBtn {
    height: .56rem;
    width: .56rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, .26);
    border: .01333rem solid #ffffff;
    margin-right: .18667rem;
    position: relative;
}

.WinningTip__C .closeBtn {
    width: .8rem;
    height: .8rem;
    background-image: url(/assets/png/close-7b93ef94.png);
    background-repeat: no-repeat;
    background-size: .8rem;
    background-position: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(100%);
    transform: translate(-50%) translateY(100%);
    bottom: -.26667rem;
}


#pop-result{
  display: flex;margin-left: 188px;margin-top: 65px;
}
#popupSize{
  margin: 2px;
  color: #000000;

}

#popupNumber{
  margin: 2px;
    border-radius: 50%;
    padding: 5px;
    color: #000000;
    font-weight: bold;
    padding-top: 3px;}

#popupColor{
  margin: 2px;
  color: #000000;
}

.popup-close {
  width: .8rem;
    height: .8rem;
    background-image: url(/images/cross.png);
    background-repeat: no-repeat;
    background-size: .8rem;
    background-position: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(100%);
    transform: translate(-50%) translateY(100%);
    bottom: -.26667rem;
}

  </style>
</head>

<body style="font-size: 12px">
  <div id="app">
    <div data-v-a9660e98="" class="mian game">
      <div data-v-106b99c8="" data-v-a9660e98="" class="navbar">
        <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/home'">
          <div data-v-a9660e98="" data-v-106b99c8="" class="c-row c-row-middle-center">
            <img data-v-a9660e98="" data-v-106b99c8="" src="/images/back.c3244ab0_1.png" class="navbar-back" />
          </div>
        </div>
        <div data-v-106b99c8="" class="navbar-title">
          <div data-v-a9660e98="" data-v-106b99c8="" class="c-row c-row-middle-center">
            <img data-v-a9660e98="" data-v-106b99c8="" height="80px" width="100px" src="/images/METAAI.png" class="logo" />
          </div>
        </div>
        <div data-v-106b99c8="" class="navbar-right">
          <div data-v-a9660e98="" data-v-106b99c8="" class="c-row navbarR">
            <div data-v-a9660e98="" data-v-106b99c8="" class="c-row item c-row-middle-center" onclick="location.href='/keFuMenu'">
              <img data-v-a9660e98="" data-v-106b99c8="" src="/images/audio.webp" class="item-audio" />
            </div>
            <div data-v-a9660e98="" data-v-106b99c8="" class="c-row item c-row-middle-center">
              <img data-v-a9660e98="" data-v-106b99c8="" src="/images/volume-up-line.webp" class="item-volume" />
            </div>
          </div>
        </div>
      </div>
      <!---------->
      <%- include('element/info.ejs') -%>
      <!---------->
      <div data-v-a9660e98="" class="game-betting">
        <div data-v-a9660e98="" class="tab">
          <%- include('element/e_tab_time.ejs') -%>
        </div>
        <div data-v-a9660e98="" class="content">
          <div data-v-a9660e98="" class="time-box c-row c-row-between m-b-10">
            <div data-v-a9660e98="" class="info">
              <div data-v-ff68ae62="" class="TimeLeft__C-rule how-to-play" >How to play</div>
              <div data-v-a9660e98="" class="txt">5 Minute</div>
              <div data-v-a9660e98="" class="number">2022062610925</div>
            </div>
            <div data-v-a9660e98="" class="out">
              <div data-v-a9660e98="" class="txt">
                Time Left
              </div>
              <div data-v-a9660e98="" class="number c-row c-row-middle c-flew-end">
                <div data-v-a9660e98="" class="item">0</div>
                <div data-v-a9660e98="" class="item">0</div>
                <div data-v-a9660e98="" class="item c-row c-row-middle">
                  :
                </div>
                <div data-v-a9660e98="" class="item">0</div>
                <div data-v-a9660e98="" class="item">0</div>
              </div>
            </div>
          </div>
          <%- include('element/e_bet.ejs') -%>
        </div>
      </div>
      <div data-v-a9660e98="" class="game-list p-b-20">
        <%- include('element/list-order.ejs') -%>
        <%- include('element/join.ejs') -%>

      </div>
      <!---->
      <!---->
      <!---->
      <div data-v-a9660e98="" id="moveBox" class="moveBox" style="display: none">
        <div data-v-a9660e98="" class="moveHead c-row c-row-between c-row-middle">
          <div data-v-a9660e98="" class="close">Close</div>
          <div data-v-a9660e98="">
            <span data-v-a9660e98="">Full Screen</span>
          </div>
        </div>
        <div data-v-a9660e98="" class="long">
          <div data-v-a9660e98="" class="van-tabs van-tabs--line">
            <div class="van-tabs__wrap van-hairline--top-bottom">
              <div role="tablist" class="van-tabs__nav van-tabs__nav--line">
                <div role="tab" aria-selected="true" class="van-tab van-tab--active">
                  <span class="van-tab__text van-tab__text--ellipsis">Bệt rồng mới nhất</span>
                </div>
                <div role="tab" class="van-tab">
                  <span class="van-tab__text van-tab__text--ellipsis">My Bets</span>
                </div>
                <div class="van-tabs__line"></div>
              </div>
            </div>

           

            <div class="van-tabs__content">
              <div data-v-a9660e98="" role="tabpanel" class="van-tab__pane" style="">
                <div data-v-a9660e98="" class="longlist"></div>
              </div>
              <div data-v-a9660e98="" role="tabpanel" class="van-tab__pane" style="display: none">
                <!---->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="resultPopup" class="popup" style="display:none;">
        <div class="WinningTip__C-body isL" id="popup-bg">
          <div class="WinningTip__C-body-l1 isL" id="popupResult"></div>
          <div class="WinningTip__C-body-l2 type4" style="display: flex;" id="pop-result">
            <div class="colorW" id="popupColor"></div>
            <div class="WinningNum" id="popupNumber"></div>
            <div class="colorW" id="popupSize"></div>
          </div>
          <div class="WinningTip__C-body-l3">
            <div class="isLose" id="popupOutcome"></div>
            <div class="gameDetail" id="popupDetails"></div>
            <div class="money" id="popupMoney" style="display: block;margin-top: 111px;color: #633905;margin-left: -149px;font-size: 36px;font-weight: bolder;"></div> 
          </div>
          <!-- Add the cross icon here -->
          <div class="popup-close" id="popupClose"></div>
        </div>
      </div>
      <div data-v-a9660e98="" id="sipachp">
        <!-- <audio data-v-a9660e98="" id="voice1" muted="muted">
                        <source data-v-a9660e98="" src="/audio/di1.da40b233.mp3" type="audio/mpeg" />
                    </audio>
                    <audio data-v-a9660e98="" id="voice2" muted="muted">
                        <source data-v-a9660e98="" src="/audio/di2.317de251.mp3" type="audio/mpeg" />
                    </audio> -->
      </div>
      <div data-v-a9660e98="" class="popup-qt van-popup van-popup--center" style="width: 80%; border-radius: 10px; max-width: 340px; z-index: 2040;display: none;">
        <div data-v-a9660e98="" class="rule-box">
          <div data-v-a9660e98="" class="title c-row c-row-middle-center">Pre-Selling Rules</div>
          <div data-v-a9660e98="" class="info">
            <div data-v-a9660e98="" class="comment"> To protect users' rights - legitimate interests
               participate in the pre-sale and maintain the normal operating sequence of the pre-sale, the rules
               rules developed under the agreement in accordance with the relevant agreements and rules of
               national laws and regulations.  Chapter 1 Definition1.1 Definition of presale: refer to
               A sales model in which a seller offers a bundle of products or services to collect orders
               Consumer ordering through pre-sale and delivery product tools
               goods and services to the seller as agreed in advance.  1.2 The pre-sale model is the "Signed ." model
               "Deposit" is referred to as a fixed amount of pre-sold goods
               available.  The "deposit" can participate in mini games and have a chance to win a lot
               profit.  Deposits can be exchanged directly for goods but the deposit amount
               Not for exchange.1.3 Pre-sale products: Products provided by the seller
               By using the pre-sale product tool, only pre-sale words are highlighted on the
               the title or on the product detail page, in addition other products do not use
               Pre-sale product tools are not pre-sale products.1.4 Pre-sale system:
               Access to the system of product tools provided to support sales by selling model
               before.  1.5 Pre-sale goods price: is the price of goods before sale.  The price of the goods
               Pre-sale consists of two parts: selling price and payment.</div>
            <div data-v-a9660e98="" class="rule-btn c-row m-t-20 c-row-center">
              <button data-v-a9660e98="" class="btn van-button van-button--default van-button--normal van-button--block van-button--round" style="color: rgb(255, 255, 255); background: rgb(242, 65, 59); border-color: rgb(242, 65, 59);">
                <div data-v-a9660e98="" class="van-button__content">
                  <span data-v-a9660e98="" class="van-button__text">
                    <span data-v-a9660e98="">I Know</span>
                  </span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <%- include('element/alert2.ejs') -%>
    </div>
    <div data-v-7692a079="" data-v-a9660e98="" class="Loading c-row c-row-middle-center" style="display: none;">
      <div data-v-7692a079="" class="van-loading van-loading--circular">
        <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular" style="color: rgb(242, 65, 59);">
          <svg data-v-7692a079="" viewBox="25 25 50 50" class="van-loading__circular">
            <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
          </svg>
        </span>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(".how-to-play").click(function(){
      $(".van-popup-vf").css("display", "block");
    });
  </script>
  <script src="/js/client.js"></script>
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
  <script src="/js/wingo5.js"></script>
</body>

</html>